{% extends 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/icapreference/css/styles.css') }}"/>
{% endblock %}

{% block resourceBreadcrumb %}
    {% block reference_breadcrumb %}
        <li>
            <a href="{{ path('icap_reference_list', { 'resourceId': referenceBank.id }) }}"><span class="glyphicon icon-file"></span> {{ referenceBank.resourceNode.name }}</a>
        </li>
    {% endblock %}
{% endblock %}

{% block section_content %}
    {% block reference_content %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/icapreference/js/script.js') }}"></script>
{% endblock %}