{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block section_content %}
        <form action="{{ _path('icap_reference_edit_options') }}"
              method="post" {{ form_enctype(form) }}
              class="form-horizontal">

            <div class="panel-heading">
                <h3 class="panel-title">Administration du plugin référence</h3>
            </div>
            <div class="panel-body">
                {#
                {{ form_row(form.referenceByPage) }}
                <div class="alert amazon-config-alert">
                    <h4>{% trans %}Warning!{% endtrans %}</h4>
                    So long as information on amazon has not informed it is impossible to use the amazon search.
                </div>
                #}
                {{ form_widget(form) }}
                {{ form_rest(form) }}
            </div>
            <div class="panel-footer">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary pull-right">{{ 'save'|trans({}, 'platform') }}</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
{% endblock %}
