{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    {% form_theme form 'ClarolineCoreBundle::form_theme.html.twig' %}
    <form action="{{ _path('icap_reference_edit_options') }}"
          method="post" {{ form_enctype(form) }}
          class="form-horizontal">
        {#
        {{ form_row(form.referenceByPage) }}
        <div class="alert amazon-config-alert">
            <h4>{% trans %}Warning!{% endtrans %}</h4>
            So long as information on amazon has not informed it is impossible to use the amazon search.
        </div>
        #}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
        </div>
    </form>
{% endblock %}
