{% extends "IcapReferenceBundle::layout.html.twig" %}

{% block reference_breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('icap_reference_show', { 'resourceId': referenceBank.id, 'id': reference.id }) }}">
            <span class="glyphicon icon-bookmark"></span> {{ reference.title | capitalize }}
        </a>
    </li>
    <li class="active"><span class="glyphicon icon-remove"></span> {{ 'Delete'|trans }}</li>
{% endblock %}

{% block reference_content %}
    <div class="container">
        <div class="text-center">
            <header class="page-header">
                <h3>Are you sure to delete "{{ reference.title|capitalize }}"?</h3>
            </header>
            {% include "IcapReferenceBundle:Reference:deleteForm.html.twig" %}
        </div>
    </div>
{% endblock %}
