{% extends "ICAPReferenceBundle::layout.html.twig" %}
{% block reference_breadcrumb %}
    <li class="active"><i class="icon-file"></i>{{ referenceBank.name }}</li>
{% endblock %}

{% block reference_content %}
    <div class="container-fluid">
        <header>
            <div class="row-fluid">
                <div class="span2">
                    <a href="{{ path('icap_reference_new_light', { 'resourceId': referenceBank.id }) }}" class="new-reference btn btn-primary">
                        <i class="icon-bookmark icon-white"></i> 
                        {% trans %}New{% endtrans %}
                    </a>
                </div>
                <div class="span10 text-right">
                    {% if pager.haveToPaginate %}
                        {{ 
                            pagerfanta(
                                pager, 
                                'twitter_bootstrap_translated', 
                                {
                                    'proximity' : 1, 
                                    'routeName': 'icap_reference_list_paginated', 
                                    'routeParams': {'resourceId': referenceBank.id}
                                }
                            )
                        }}
                    {% endif %}
                </div>
            </div>
        </header> 

        {% if pager %}
            {% for reference in pager.currentPageResults %}
                <div class="reference-list-item well">
                    <div class="row-fluid">
                        <div class="span1">
                            {% include "ICAPReferenceBundle:Reference:icon.html.twig" %}
                        </div>
                        <div class="span7">
                            {% if reference.type == 'bibliography' %}
                                {% include "ICAPReferenceBundle:Reference:listDetailBibliography.html.twig" %}
                            {% elseif reference.type == 'filmography' %}
                                {% include "ICAPReferenceBundle:Reference:listDetailFilmography.html.twig" %}
                            {% elseif reference.type == 'discography' %}
                                {% include "ICAPReferenceBundle:Reference:listDetailDiscography.html.twig" %}
                            {% else %}
                                {% include "ICAPReferenceBundle:Reference:listDetailDiscography.html.twig" %}
                            {% endif %}
                        </div>
                        {% if is_granted('EDIT', reference) %}
                            <div class="span4 btn-group text-right">
                                <a href="{{ path('icap_reference_edit', { 'resourceId': referenceBank.id, 'id': reference.id }) }}" class="btn btn-primary">
                                    <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                                </a>
                                <a href="{{ path('icap_reference_delete', { 'resourceId': referenceBank.id, 'id': reference.id }) }}" class="delete-reference btn btn-danger">
                                    <i class="icon-remove-sign"></i> {% trans %}Delete{% endtrans %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No reference yet!
        {% endif %}

        {% if pager and pager.currentPageResults|length > 0 %}
            <header>
                <div class="row-fluid">
                    <div class="span2">
                        <a href="{{ path('icap_reference_new_light', { 'resourceId': referenceBank.id }) }}" class="new-reference btn btn-primary">
                            <i class="icon-bookmark icon-white"></i> 
                            {% trans %}New{% endtrans %}
                        </a>
                    </div>
                    <div class="span10 text-right">
                        {% if pager.haveToPaginate %}
                            {{ 
                                pagerfanta(
                                    pager, 
                                    'twitter_bootstrap_translated', 
                                    {
                                        'proximity' : 1, 
                                        'routeName': 'icap_reference_list_paginated', 
                                        'routeParams': {'resourceId': referenceBank.id}
                                    }
                                )
                            }}
                        {% endif %}
                    </div>
                </div>
            </header>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
    <script src="{{ asset('bundles/icapreference/js/delete.js') }}"></script>
    <script src="{{ asset('bundles/icapreference/js/new.js') }}"></script>
{% endblock %}