<form id="newReferenceModal-form" name="icap_reference_choose_type" method="POST" class="form-vertical" action="{{ path("icap_reference_create_light", {'resourceId': referenceBank.id}) }}">
    <div class="control-group">
        {{ form_label(form.type, null,  {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <input id="createNewReferenceSubmit" type="submit" value="{% trans %}Create{% endtrans %}" class="btn btn-primary"/>
</form>