{% extends "IcapReferenceBundle::layout.html.twig" %}

{% block reference_breadcrumb %}
    {{ parent() }}
    <li class="active"><span class="glyphicon icon-bookmark"></span> {{ reference.title|capitalize }}</li>
{% endblock %}

{% block reference_content %}
    <div class="container container-reference">
        <div class="col-md-2 text center">
            <div class="portrate">
                {% include "IcapReferenceBundle:Reference:icon.html.twig" %}
                <div class="caption">
                    <small>{{ reference.type|trans }}</small>
                </div>
            </div>
            {% if is_granted('EDIT', reference) %}
                <hr/>
                <div class="btn-group text-right">
                    <a href="{{ path('icap_reference_edit', { 'resourceId': referenceBank.id, 'id': reference.id }) }}" class="btn btn-default btn-xs">
                        <span class="glyphicon icon-edit"></span> {% trans %}Edit{% endtrans %}
                    </a>
                    <a href="{{ path('icap_reference_delete', { 'resourceId': referenceBank.id, 'id': reference.id }) }}" class="delete-reference btn btn-danger btn-xs">
                        <span class="glyphicon icon-remove"></span> {% trans %}Delete{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-10">
            <a href="{{ path('icap_reference_show', { 'resourceId': referenceBank.id, 'id': reference.id }) }}">
                <h3>
                    {{ reference.title|capitalize}}
                </h3>
            </a>
            <p><small>{{ reference.description }}</small></p>
            <br/>
            <a class="reference_link" href="{{ reference.url }}">{{ reference.url }}</a>
            {% include "IcapReferenceBundle:Reference:dataReference.html.twig" with { "reference": reference } %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
    <script src="{{ asset('bundles/icapreference/js/delete.js') }}"></script>
{% endblock %}